@page
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Corrected path
}

<style>
	.carousel-indicators {
		bottom: -60px;
	}

</style>

<div class="mb-10" id="">
	<div class="" data-kt-sticky-name="">
		<div class="">
			<!--begin::Landing hero-->
			<div class="d-flex flex-column flex-center w-100 min-h-450px min-h-lg-700px px-9" style="background: #687451;">
				<!--begin::Heading-->
				<div class="text-center mb-5 mb-lg-10 py-10 py-lg-20">
					<!--begin::Title-->
					<h1 class="text-white lh-base fw-bold fs-2x fs-lg-3x mb-5"><i>Your Companions Awaits!</i></h1>
					<!--end::Title-->
				</div>
				<!--end::Heading-->
				<!--begin::Clients-->

				<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="d-flex flex-center flex-wrap position-relative px-5">
							<div class="container">

								<!-- Slide 1 -->
								<div class="carousel-item active" data-bs-interval="5000">
									<div class="container">
										<div class="row text-center">
											<div class="col-md-4">
												<center>
													<img src="~/images/landing1.jpg" style="width:100%;" class="img-thumbnail">
													<h2 class="text-white py-3"><i>"Pepper was the missing piece in our lives. Grateful!"</i></h2>
													<h3 class="text-white"><i>– John & Ella</i></h3>
												</center>
											</div>
											<div class="col-md-4">
												<center>
													<img src="~/images/landing2.jpg" style="width:100%;" class="img-thumbnail">
													<h2 class="text-white py-3"><i>"Milo fits perfectly into our family. Forever thankful!"</i></h2>
													<h3 class="text-white"><i>– The De Guzman Family</i></h3>
												</center>
											</div><div class="col-md-4">
												<center>
													<img src="~/images/landing3.jpg" style="width:100%;" class="img-thumbnail">
													<h2 class="text-white py-3"><i>"Butter’s made our house a home. Thanks for connecting us!"</i></h2>
													<h3 class="text-white"><i>– The Cruz Family</i></h3>
												</center>
											</div>
										</div>
									</div>
								</div>

								<!-- Slide 2 -->
								<div class="carousel-item" data-bs-interval="5000">
									<div class="container">
										<div class="row text-center">
											<div class="col-md-4">
												<center>
													<img src="~/images/landing1.jpg" style="width:100%;" class="img-thumbnail">
													<h2 class="text-white py-3"><i>"Pepper was the missing piece in our lives. Grateful!"</i></h2>
													<h3 class="text-white"><i>– John & Ella</i></h3>
												</center>
											</div>
											<div class="col-md-4">
												<center>
													<img src="~/images/landing2.jpg" style="width:100%;" class="img-thumbnail">
													<h2 class="text-white py-3"><i>"Milo fits perfectly into our family. Forever thankful!"</i></h2>
													<h3 class="text-white"><i>– The De Guzman Family</i></h3>
												</center>
											</div><div class="col-md-4">
												<center>
													<img src="~/images/landing3.jpg" style="width:100%;" class="img-thumbnail">
													<h2 class="text-white py-3"><i>"Butter’s made our house a home. Thanks for connecting us!"</i></h2>
													<h3 class="text-white"><i>– The Cruz Family</i></h3>
												</center>
											</div>
										</div>
									</div>
								</div>

								<!-- Slide 3 -->
								<div class="carousel-item" data-bs-interval="5000">
									<div class="container">
										<div class="row text-center">
											<div class="col-md-4">
												<center>
													<img src="~/images/landing1.jpg" style="width:100%;" class="img-thumbnail">
													<h2 class="text-white py-3"><i>"Pepper was the missing piece in our lives. Grateful!"</i></h2>
													<h3 class="text-white"><i>– John & Ella</i></h3>
												</center>
											</div>
											<div class="col-md-4">
												<center>
													<img src="~/images/landing2.jpg" style="width:100%;" class="img-thumbnail">
													<h2 class="text-white py-3"><i>"Milo fits perfectly into our family. Forever thankful!"</i></h2>
													<h3 class="text-white"><i>– The De Guzman Family</i></h3>
												</center>
											</div><div class="col-md-4">
												<center>
													<img src="~/images/landing3.jpg" style="width:100%;" class="img-thumbnail">
													<h2 class="text-white py-3"><i>"Butter’s made our house a home. Thanks for connecting us!"</i></h2>
													<h3 class="text-white"><i>– The Cruz Family</i></h3>
												</center>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
				</div>
				<!--end::Clients-->
			</div>
			<!--end::Landing hero-->
			<!--begin::Curve bottom-->
			<div class="landing-curve landing-dark-color mb-10 mb-lg-20">
				<svg viewBox="15 12 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 11C3.93573 11.3356 7.85984 11.6689 11.7725 12H1488.16C1492.1 11.6689 1496.04 11.3356 1500 11V12H1488.16C913.668 60.3476 586.282 60.6117 11.7725 12H0V11Z" fill="currentColor" style="color: #687451;"></path>
				</svg>
			</div>
			<!--end::Curve bottom-->
		</div>
	</div>
</div>
<div class="mb-10" id="kt_home">
	<div class="" data-kt-sticky-name="">
		<div class="container">
			<center>
				<h3 style="color: #687451;">
					<i>
						Discover your perfect furry friend and give them a loving home.<br>
						At Second Chances, we connect pets in need with people who care.
					</i>
				</h3>
			</center>
			<div class="row">
				<div class="col-md-4">
					<div class="d-flex flex-column flex-center w-100 min-h-350px min-h-lg-500px px-9">
						<div style="width: 225px; height: 225px; background: #00291c; border-radius: 150px;"></div>
						<img src="~/images/landing4.png" style="margin-top:-100px;width:400px;position: absolute;">
					</div>
				</div>
				<div class="col-md-4">
					<div class="d-flex flex-column flex-center w-100 min-h-350px min-h-lg-500px px-9">
						<div style="width: 225px; height: 225px; background: #687451; border-radius: 150px;"></div>
						<img src="~/images/landing5.png" style="margin-top:-100px;width:400px;position: absolute;">
					</div>
				</div>
				<div class="col-md-4">
					<div class="d-flex flex-column flex-center w-100 min-h-350px min-h-lg-500px px-9">
						<div style="width: 225px; height: 225px; background: #954930; border-radius: 150px;"></div>
						<img src="~/images/landing6.png" style="margin-top:-100px;width:400px;position: absolute;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mb-10" id="kt_about">
	<div class="" data-kt-sticky-name="">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="d-flex flex-column flex-center w-100 min-h-350px min-h-lg-500px px-9">
						<div style="width: 325px; height: 325px; background: #687451; border-radius: 250px;"></div>
						<img src="~/images/landing7.png" style="margin-top:00px;width:400px;position: absolute;">
					</div>
				</div>
				<div class="col-md-6">
					<div class="d-flex flex-column flex-center w-100 min-h-350px min-h-lg-500px px-9">
						<h1 class="lh-base fw-bold fs-2x fs-lg-3x mb-15" style="color: #954930;"><b>About Second Chances</b> </h1>
						<p style="color: #687451;">At Second Chances, we believe every pet deserves a loving home.  Our mission is to bridge the gap between pets in need and individuals or families ready to welcome them. With a user-friendly platform and a compassionate team,  Second Chances ensures that adopting a pet is not only easy  but also an enriching experience for both you and your new furry friend. Join us in creating a world where every pet has a place to call home.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mb-10" id="kt_contact_us">
	<div class="" data-kt-sticky-name="">
		<div class="container">
			<div class="d-flex flex-column flex-center w-100 min-h-350px min-h-lg-500px px-9">
				<h1 class="lh-base fw-bold fs-2x fs-lg-3x mb-15" style="color: #954930;"><b>Contact Us!</b> </h1>
				<p style="color: #687451;">R&A 85173-2 Studio I Don Fabian, Quezon City, 1121 Metro Manila I Main (02)8952 7818 </p>
				<center>
					<div class="row">
						<div class="col-md-3 ">
							<div style="width: 225px; height: 225px; background: #687451; border-radius: 250px;" class="d-flex flex-column flex-center">
								<i class="bi bi-phone text-white fs-4hx"></i>
								<h1 class="text-white"><i><b>Phone Number</b></i></h1>
								<p class="text-white">(02) 8952 7818 </p>
							</div>
						</div>
						<div class="col-md-3 ">
							<div style="width: 225px; height: 225px; background: #687451; border-radius: 250px;" class="d-flex flex-column flex-center">
								<i class="bi bi-pin-map text-white fs-4hx"></i>
								<h1 class="text-white"><i><b>Location</b></i></h1>
								<center><p class="text-white">Don Fabian, Quezon City,<br> 1121 Metro Manila </p></center>
							</div>
						</div>
						<div class="col-md-3 ">
							<div style="width: 225px; height: 225px; background: #687451; border-radius: 250px;" class="d-flex flex-column flex-center">
								<i class="bi bi-clock text-white fs-4hx"></i>
								<h1 class="text-white"><i><b>Opening Hours</b></i></h1>
								<p class="text-white">9:00am to 10:00pm </p>
							</div>
						</div>
						<div class="col-md-3 ">
							<div style="width: 225px; height: 225px; background: #687451; border-radius: 250px;" class="d-flex flex-column flex-center">
								<i class="bi bi-envelope text-white fs-4hx"></i>
								<h1 class="text-white"><i><b>Email Address</b></i></h1>
								<p class="text-white">quezoncity@pup.edu.ph</p>
							</div>
						</div>
					</div>
				</center>
			</div>


		</div>
	</div>
</div>